/* color scheme applied "Square" harmony rule */
:root {
  --primary: #4B0082;
  --secondary: #B52B04;
  --accent: #E1FC17;
  --accent2: #49FCF9;
  --white: #FFF5FF;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.leaflet-marker-icon .custom-icon:hover,
.leaflet-marker-icon .custom-icon:focus,
.leaflet-marker-icon .cusom-icon:focus-visible {
  z-index: 600 !important;
}